<div class="wii-container">
    <header class="header">
        <div class="title">
        <h1>News Channel</h1>
        <span class="subtitle">WiiConnect24</span>
        </div>
    </header>

    <div class="world-map">
        <img src="assets/images/world-map.png" alt="World Map" class="map-image">
    </div>

    <footer class="footer">
        <button class="wii-button" routerLink="/menu">Wii Menu</button>
        <button class="wii-button" routerLink="/categories">Start</button>
    </footer>
</div>